@import "tailwindcss";

@theme {
    --color-background: hsl(var(--background));
    --color-background-light: hsl(var(--background-light));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    --font-anton: Anton, sans-serif;
    --font-roboto-flex: "Roboto Flex", sans-serif;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --spacing-section: 250px;
    --duration-7000: 7s;
    --breakpoint-xs: 420px;
}

@layer utilities {
    .container {
        width: 100%;
        margin-inline: auto;
        padding-inline: 1rem;

        @media (width >=640px) {
            max-width: 640px;
        }

        @media (width >=768px) {
            max-width: 768px;
        }

        @media (width >=1024px) {
            max-width: 1024px;
        }

        @media (width >=1280px) {
            max-width: 1148px;
        }

        @media (width >=1536px) {
            max-width: 1148px;
        }
    }

/* Click Spark Animation */
@keyframes spark-line {
  0% {
    stroke-dashoffset: 90;
    transform-origin: center;
  }

  100% {
    stroke-dashoffset: 30;
    transform-origin: center;
  }
}
}

@layer base {
    :root {
        --background: 0 0% 13%;
        --background-light: 0 0% 19%;
        --foreground: 0 0% 87%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 167 100% 68%;
        --primary-foreground: 0 0% 13%;
        --secondary: 193 100% 47%;
        --secondary-foreground: 0 0% 13%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 71%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 24%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --radius: 0.5rem;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    * {
        @apply border-border !cursor-none;
    }

    body {
        @apply bg-background text-foreground font-roboto-flex;
    }
}

@layer components {
    .grid {
        @apply gap-[25px];
    }

    .markdown-text ul {
        @apply pl-5 mt-2 list-disc;
    }
}
